# Ignorar el archivo de configuración de entorno
.env

# Ignorar el archivo de dependencias bloqueadas
package-lock.json

# Ignorar el archivo de dependencias y scripts
package.json

# Ignorar la carpeta de módulos de Node.js
node_modules/
